{sub_dirs, ["apps/smtp_server"]}.
{lib_dirs,["deps"]}.
{erl_opts, [debug_info]}.
{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.
{deps, [
	{
		riak_kv,
		".*",
		{git, "git://github.com/Erlang-Communitivity/riak_kv.git",  {branch, "2012JAN31_Enable_R15_Builds"}}
	},
	{
		gen_smtp_client,
		".*",
		{git, "git://github.com/Erlang-Communitivity/gen_smtp_client.git", master}
	},
	{
		amqp_client, 
		".*", 
		{git, "git://github.com/dreid/amqp_client.git", "master"}
	},
	{
		rabbit_common, 
		".*",
	 	{git, "git://github.com/dreid/rabbit_common.git", "master"}
	}
]}.