{sub_dirs, ["apps/smtp_server"]}.
{erl_opts, [debug_info]}.
{deps, [
        {
		gen_nb_server, 
		".*",
         	{git, "git://github.com/knutin/gen_nb_server.git", ""}
	},
	{
		riak_kv,
		".*",
		{git, "git://github.com/Erlang-Communitivity/riak_kv.git",  {branch, "2012JAN31_Enable_R15_Builds"}}
	}
]}.